.item1 {
  height: 200px;
  background-color: #fff;
  border-radius: 5px;
  padding: 15px;
  margin: 20px 250px 0 250px;
  display: flex;
  align-items: center;
  justify-content: space-between;

  .cardImg {

      img {
          width: 300px;
          height: 200px;
          border-radius: 5px;
      }
  }

  .cardBody {
      width: 60%;

      h1, p, span {
          padding: 0;
          margin: 0;
      }

      h1 {
          text-align: center;
      }

       p{
          text-align: justify;
          padding: 30px 0;
      }

      div {
        display: flex;
        flex-direction: column;
      }
  }

  .cardActions {
        width: 20%;
      height: 100%;
      display: flex;
      justify-content: center;
      align-items: flex-end;
      flex-direction: column;

      .qtd {
       
        text-align: center;
      }
      
      div {
          display: flex;
          align-items: center;
          justify-content: center;
          gap: 5px;

          i {
            cursor: pointer;

            &:hover {
              opacity: 0.6;
            }
          }

          span {
              font-size: 22px;
              font-weight: 700;
          }
      }
  }
}