@import '../../breakpoint/breakpoint.scss';

.container {
  max-width: 100%;
  min-height: calc(100vh - 145px);
  display: flex;
  flex-direction: column;

  @media(max-width: $tablet) {
    align-items: center;
    justify-content: center;
  }

  @media(max-width: $mobile-sm) {
    align-items: center;
    justify-content: center;
  }

  h1 {
    text-align: center;
  }

  .item2 {
    display: flex;
    align-items: flex-end;
    flex-direction: column;
    max-width: 100%;
    padding: 40px 70px;

    .divResumo {
      display: flex;
      align-items: center;
      justify-content: space-between;
      flex-wrap: wrap;
      height: 40px;
      width: 40%;
      background-color: #4b3f4e;
      padding: 10px 20px;
      color: white;
      border-radius: 5px;

      @media(max-width: $tablet) {
        align-items: center;
        justify-content: center;
        gap: 10px;
        width: 60%;
        height: 20%;
      }

      @media(max-width: $mobile-sm) {
        align-items: center;
        justify-content: center;
        gap: 10px;
        width: 60%;
        height: 20%;
      }
    }

    button {
      background-color: #fff;
      color: #000;
      border: none;
      border-radius: 15px;
      padding: 10px 30px;
      font-size: 1.125rem;
      transition: 0.3s;

      &:hover {
        cursor: pointer;
        opacity: 0.8;
        transition: 0.3s;
      }
    }
  }
}