.container {
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 100%;
    align-self: center;
    min-height: calc(100vh - 795px);

    .item {
       
        display: flex;
        max-width: 100%;
        align-self: center;
        gap: 20px;

        
    }

}