nav {
    display: grid;
    grid-template-columns: 0.5fr 7fr 3.5fr;
    max-width: 100vw;
    height: 70px;
    padding: 15px 70px;
    align-items: center;
    justify-content: space-between;
    background-color: #4b3f4e;

    img {
        width: 60px;
        height: 60px;
    }

    a {
        text-decoration: none;
        color: black;
        font-size: 1.25rem;
        color: white;

        &:hover {
            color: rgba(255, 255, 255, 0.596);
        }
    }
    .input {
        display: flex;
        gap: 20px;
        justify-content: space-between;
        width: 100%;

        input {
            width: 100%;
            height: 40px;
            border-radius: 10px;
            padding: 0 20px;
            border: none;
        }

        input:focus {
            box-shadow: 0 0 0 0;
            border: 1px solid rgb(168, 163, 163);
            outline: 0;
        }
    }
}
