@import '../../breakpoint/breakpoint.scss';

.container {
	display: flex;
	width: 100%;
	gap: 40px;
	flex-wrap: wrap;
	align-items: center;
	justify-content: center;

	@media(max-width: $tablet) {
    gap: 100px;
  }
  @media(max-width: $mobile-sm) {
    gap: 100px;
  }

	.cardesContainer {
		display: flex;
		flex-direction: column;
		align-items: center;
		margin-top: -100px;
		text-decoration: none;
        
		.divImg {
			width: 270px;
			height: 200px;
			
			img {
				object-fit: cover;
				width: 100%;
				height: 100%;
				border-radius: 6px;
			}
		}
  }
}

.cardesContainer {
  transition: 0.3s;
}
  
.container:has(.cardesContainer:hover) .cardesContainer:not(:hover) {
	transition: 0.3s;
	opacity: .8;
	scale: .95;
}