.container {
  background-color: #fff;
  border-radius: 10px;
}

.cardImg {
  
  & img {
    padding: 10px 10px 0 10px;
    width: 350px;
    height: 210px;
  }
}

.cardBody {
  padding: 0 20px;

  & p {
    text-align: justify;
    overflow: hidden; 
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
  }
}

.cardFooter {
  display: flex;
  justify-content: center;
  align-items: center;

  .prices {
    padding: 20px 0;
    background-color: #4B3F4E;
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    border-bottom-left-radius: 10px;

    .price {
      font-weight: 700;
    }
  }

  .icons {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
    width: 50%;
    font-size: 20px;
  }

  svg {
    cursor: pointer;
    transition: 0.3s;

    &:hover {
      opacity: 0.7;
      transition: 0.3s;
    }
  }
}