@import '../../breakpoint/breakpoint.scss';

.container {
  max-width: 100%;
  min-height: 23.5vh;
  display: flex;
  flex-direction: column;

  @media(max-width: $tablet) {
    align-items: center;
    justify-content: center;
  }

  @media(max-width: $mobile-sm) {
    align-items: center;
    justify-content: center;
  }

  .item2 {
    display: flex;
    align-items: flex-end;
    flex-direction: column;
    max-width: 100%;
    padding: 40px 70px;

    .divResumo {
      display: flex;
      align-items: center;
      justify-content: space-between;
      height: 50px;
      width: 40%;
      background-color: #4b3f4e;
      padding: 10px 20px;
      border-radius: 5px;
      color: white;
      flex-wrap: wrap;

      @media(max-width: $tablet) {
        align-items: center;
        justify-content: center;
        gap: 10px;
        width: 70%;
        height: 20%;
      }

      @media(max-width: $mobile-sm) {
        align-items: center;
        justify-content: center;
        gap: 10px;
        width: 70%;
        height: 20%;
      }

      a {
        color: #fff;
        text-decoration: none;
        font-weight: 700;

        &:hover {
          text-decoration: underline;
        }
      }
    }
  }
}
