.container {
  max-width: 100%;
  min-height: 23.5vh;
  display: flex;
  flex-direction: column;

  .item2 {
    display: flex;
    align-items: flex-end;
    flex-direction: column;
    max-width: 100%;
    padding: 40px 70px;

    .divResumo {
      display: flex;
      align-items: center;
      justify-content: space-between;
      height: 50px;
      width: 40%;
      background-color: #4b3f4e;
      padding: 10px 20px;
      border-radius: 5px;
      color: white;

      a {
        color: #fff;
        text-decoration: none;
        font-weight: 700;

        &:hover {
          text-decoration: underline;
        }
      }
    }
  }
}
